  <app-login *ngIf="!isLoggedIn"></app-login>
  <mat-drawer-container class="container" autosize *ngIf="isLoggedIn">  
    <mat-drawer #drawer class="sidenav">
        <button color="primary" mat-button routerLink="/inventory">Inventory</button>
        <button color="primary" mat-button routerLink="/cart">Cart</button>
    </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="spacer">ShopBridge</span>
                <mat-icon  (click)="logout()">logout</mat-icon>     
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>

    </div>
</mat-drawer-container>